<!-- <div class="row">
    <div class="col-8 mx-auto">
        <app-portfolio-list-item *ngFor="let portfolio of portfolios" [portfolio]="portfolio"></app-portfolio-list-item>
    </div>
</div> -->

<div class="row">
    <div class="col-sm-6">
      <div class="card" *ngFor="let portfolio of portfolios">
        <div class="card-body">
          <h5 class="card-title">{{portfolio.title | uppercase }}</h5>
          <p class="card-text">{{portfolio.name | titlecase }}</p>
          <!-- <p class="card-text">{{portfolio.city | titlecase }}</p> -->
          <small>{{portfolio.id}}</small>
          <!-- <button class="btn btn-info"
                    (click)="onEditClick($event)"
                    data-bs-toggle="modal"
                    data-bs-target="#editModal">
                Modifier
          </button> -->
          <!-- <button class="btn btn-warning"
                    (click)="onDeleteClick($event)"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteModal">
                Supprimer
            </button> -->
        </div>
      </div>
    </div>

</div>