<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand"  routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}"     
      >easyPortfolio</a> 

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active" routerLink="/"
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact:true}"
                >
                Home <fa-icon [icon]="['fas','mug-hot']"></fa-icon>
            </a>
          </li>

          <li class="nav-item" *ngIf="loginService.currentUserEmail != '' ">
            <a class="nav-link" routerLink="/portfolio"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}">Mes Portfolios
            </a>
          </li>

          <li class="nav-item" *ngIf="loginService.currentUserEmail != '' ">
            <a class="nav-link" routerLink="/user"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}"
                >Liste de users
            </a>
          </li>

          <li class="nav-item" *ngIf="loginService.currentUserEmail != '' ">
            <a class="nav-link" routerLink="/user/5"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}"
                >
                Mon Profil
            </a><!--[routerLinkActiveOptions]="{exact:true}"-->
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item" *ngIf="loginService.currentUserEmail != '' ">
            <a class="nav-link" >{{ loginService.currentUserEmail }}</a>
          </li>
          <li class="nav-item" *ngIf="loginService.currentUserEmail != '' ">
            <a class="btn btn-primary" (click)="loginService.logout()" >Deconnexion</a>
          </li>
          <li class="nav-item" *ngIf="loginService.currentUserEmail == '' ">
            <a class="btn btn-primary" routerLink="login" >Connexion</a>
          </li>
        </ul>


        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
