<div class="row">
    <div class="col-8 mx-auto">
        <table class="table">
            <thead>
                <th class="text-center">Id</th>
                <th class="text-center">Prenom</th>
                <th class="text-center">Nom</th>
                <th class="text-center">Date de début</th>
                <th class="text-center">Actions</th>
            </thead>
            <tbody>
                <tr *ngFor="let userItem of users; let i = index">
                    <td class="text-center">{{userItem.id}}</td>
                    <td>{{userItem.name}}</td>
                    <td class="text-center">{{userItem.role}}</td>
                    <td class="text-center" >{{userItem.dateInscription | date: 'dd/MM/yyyy'}}</td>
                    <td>
                        <button class="btn btn-info"
                                (click)="onEditClick($event, i)"
                                data-bs-toggle="modal"
                                data-bs-target="#editModal">
                            Modifier
                        </button>
                        <button class="btn btn-warning"
                                (click)="onDeleteClick($event, i)"
                                data-bs-toggle="modal"
                                data-bs-target="#deleteModal">
                            Supprimer
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
